.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 940px;
	padding: 0 10;
	margin: 0 auto;
}

.main-header {
	margin-bottom: 60px;
	background-color: black;
}

.main-nav {
	width: 780px;
	float: left;
}

.main-nav ul {
	margin: 0;
	padding: 0;
}

.main-nav li {
	display: inline-block;
	vertical-align: top;
	padding: 25px 20px;
	
}

.main-nav li a {
	color: aliceblue;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

.user-block {
	width: 140px;
	float: right;
	margin-top: 25px;
}

.user-block a {
	color: aliceblue;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

.index-logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.features-item {
	width: 300px;
	float: left;
	margin-right: 20px;
}

.features-item:last-child {
	margin-right: 0;
}

.features {
	margin-bottom: 80px;
}

.index-content {
	padding: 50 80;
	margin-bottom: 35px;
}

.index-content-left {
	width: 380px;
	float: left;
}

.index-content-right {
	width: 330px;
	float: right;
}

.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
}

.footer-contacts {
	width: 320px;
	float: left;
	margin-right: 60px;
}

.footer-social {
	width: 180px;
	float: left;
}

.footer-copyright {
	width: 180px;
	float: right;
}
